{% extends "basew.html" %}

{% load humanize %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    <!-- Breadcrumbs -->
    {{ block.super }}
    {% breadcrumb "Inicio" "/" %}
    {% breadcrumb "Marco Normativo" "marco-normativo" %}
    {% breadcrumb "Nacional" "nacional" %}
    {% breadcrumb "Constitución Nacional" "" %}
    {% render_breadcrumbs %}

    <!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
    <div class="container g-pt-10 g-pb-70">
        <div class="g-mb-40">
            <h2 class="mb-0">Constitución Nacional de la República del Paraguay</h2>
        </div>

        <div class="row justify-content-between ">
            <div class="col-lg-9 g-mb-30 text-justify">
                <p>La Constitución Nacional del año 1992 manda garantizar la igualdad de derechos y la no discriminación, estableciendo explícitamente la igualdad de las personas, la igualdad de derecho entre mujeres y hombres y la no discriminación, disponiendo que el Estado debe promover las condiciones y crear los mecanismos adecuados para que dicha igualdad sea real y efectiva, allanando los obstáculos que impidan o dificulten su ejercicio y facilitando la participación de la mujer en todos los ámbitos de la vida nacional.</p>

                <ul class="list-unstyled g-font-size-13 mb-5">
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 46: De la igualdad de las personas.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 47: De las garantías de la igualdad.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 48: De la igualdad de derechos del hombre y la mujer.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 60: De la protección contra la violencia.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 61: De la planificación familiar y de la salud materno infantil.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 88: De la no discriminación.</li>
                    <li class="g-px-20 g-py-4"><i class="mr-2 fa fa-pencil"></i> Art. 89: Del trabajo de las mujeres.</li>
                </ul>
            </div>

            <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-20">
                <div class="g-pl-20--lg">

                    {% include 'enlaces.html' %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}