{% extends "basew.html" %}

{% load humanize %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    <!-- Breadcrumbs -->
    {{ block.super }}
    {% breadcrumb "Inicio" "/" %}
    {% breadcrumb "¿Quienés somos?" "quienes-somos" %}
    {% breadcrumb "Misión y Visión" "mision" %}
    {% render_breadcrumbs %}

    <!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

{% block content %}
    <div class="container g-pt-10 g-pb-70">
        <div class="g-mb-40">
            <h2 class="mb-0">Misión y Visión</h2>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-9 g-mb-30 text-justify">
                <h3 class="h4">Misión</h3>
                <p>Brindar un espacio de reflexión, análisis y proposición de acciones sobre la administración de justicia, desde la perspectiva de género, como servicio público dirigido a asegurar el acceso a la justicia y los derechos fundamentales, bajo el principio de igualdad y no discriminación.</p>

                <h3 class="h4 g-mt-50">Visión</h3>
                <p>Ser un espacio de reflexión y de acciones que genere índices e información confiables sobre el sistema de administración de justicia, que incida en el fortalecimiento de las capacidades institucionales y la toma de decisiones para el mejoramiento, reforma y acceso efectivo de las mujeres a la justicia.</p>
            </div>

            <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-20">
                <div class="g-pl-20--lg">
                    <div class="mb-0">
                        <h3 class="h5 g-color-black g-font-weight-600 mb-1">¿Quienés somos?</h3>
                    </div>
                    <ul class="list-unstyled g-font-size-13 mb-0">
                        <li><a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="{% url 'www:observatorio' %}"><i class="mr-2 fa fa-angle-right"></i> ¿Qué es el Observatorio?</a>
                        </li>
                        <li><a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="{% url 'www:mision' %}"><i class="mr-2 fa fa-angle-right"></i> Misión</a>
                        </li>
                        <li><a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="{% url 'www:mision' %}"><i class="mr-2 fa fa-angle-right"></i> Visión</a>
                        </li>
                        <li><a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="{% url 'www:objetivos' %}"><i class="mr-2 fa fa-angle-right"></i> Objetivos</a>
                        </li>
                        <li><a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="http://accesojusticia.csj.gov.py/#/mapa" target="_blank"><i class="mr-2 fa fa-angle-right"></i> Juzgados</a>
                        </li>
                    </ul>
                    <hr class="g-brd-gray-light-v4 g-my-30 mb-0">

                    {% include 'enlaces.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}