{% extends "base.html" %}

{% load humanize %}
{% load bootstrap3 %}
{% load static %}

{% block content-header %}
    <h3>Nuevo Enlace</h3>
{% endblock %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Completar todos los datos.</h3>
        </div>
        <div class="box-body pad">
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <a href="{% url 'backend:enlace_list' %}" class="btn btn-lg btn-default link"><i class="fa fa-ban"></i> Cancelar</a>
                    <button type="submit" class="btn btn-info btn-lg">
                        {% bootstrap_icon "hdd" %} Guardar
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}